@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300);

:root {
    /*palete */
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9); 
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D8485;
    --secondary-900: rgb(29, 131, 181, 0.9);
    --secondary-500: rgb(29, 131, 181, 0.5);
    --secondary-300: rgb(29, 131, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /*Font-sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.2em;

    /*spancings */
    --spancing-128: 12.8rem;
    --spancing-68: 6.8rem;
    --spancing-36: 3.6rem;
    --spancing-28: 2.8rem;
    --spancing-24: 2.4rem;
    --spancing-20: 2rem;
    --spancing-16: 1.6rem;
    --spancing-12: 1.2rem;
    --spancing-8: 0.8rem;
}

*,
*::before, 
*::after{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}

.container {
    max-width: 1200;
    margin: 0 auto;
}

/* HEADER */

header {
    background-color: var(--dark-bg-solid);
    color: #FAFAFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-content: center;
    gap: var(--spancing-20);
}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spancing-8) var(--spancing-16);
    display: inline-block;
    transition: background 3.s ease-in-out;
    position: relative;
}

.navbar__link:hover {
    background-color: var(--primary-900);
}

.with-submenu:hover .submenu{
    display: block;
}

.with-icon {
    display: flex;
    align-content: center;
    gap: var(--spancing-8);
}

.submenu {
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
}

.submenu__link {
    display: block;
    padding: var(--spancing-8) var(--spancing-16);
    font-size: medium;
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: var(--primary-900);
}